<!DOCTYPE html>
<html>
<head>
<title>Select Semester</title>
<style>
body{
    background:#0f1117;
    color:white;
    font-family:Poppins;
    text-align:center;
    padding-top:100px;
}

.box{
    display:inline-block;
    padding:20px 40px;
    margin:15px;
    background:#1c1f2b;
    border-radius:12px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

.box:hover{
    background:#4f46e5;
    transform:scale(1.05);
}
</style>
</head>

<body>

<h2>Select Semester</h2>

<a href="/resultsBySem?sem=1st year I Semester"><div class="box">1st Year - 1st Sem</div></a>
<a href="/resultsBySem?sem=1st year II Semester"><div class="box">1st Year - 2nd Sem</div></a>
<a href="/resultsBySem?sem=2nd year I Semester"><div class="box">2nd Year - 1st Sem</div></a>
<a href="/resultsBySem?sem=2nd year II Semester"><div class="box">2nd Year - 2nd Sem</div></a>

</body>
</html>